

<div class="view-wrapper view-wrapper-authors">
    <div class="section-label section-label-headline"> </div>
    <div class="view-content-container">
        <table>
            <thead>
                <tr>
                    <th>Nachname</th>
                    <th>Vorname</th>
                    <th>Bücher</th>
                </tr>
            </thead>
            <tbody>
                <!-- Leerer Body -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="author-editor-slot"></div>
    </div>
    <div class="button-group">
        <button class="func-button" data-author-action="create">Neuer Autor</button>
        <button class="func-button" data-author-action="edit">Autor editieren</button>
        <button class="func-button" data-author-action="delete">Autor löschen</button>
    </div>
</div>
