<div class="author-editor">
    <label for="authorFirstNameInput">Vorname</label>
    <input type="text" id="authorFirstNameInput" name="firstName" placeholder="Vorname eingeben">
    <label for="authorLastNameInput">Name</label>
    <input type="text" id="authorLastNameInput" name="lastName" placeholder="Name eingeben" required>
    <div class="button-group">
        <button class="func-button" data-author-editor-action="cancel">Abbrechen</button>
        <button class="func-button" data-author-editor-action="confirm">Bestätigen</button>
    </div>
</div>
