<div class="view-wrapper view-wrapper-books">
<div class="section-label section-label-headline"> </div>
    <table>
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Autor</th>
                </tr>
            </thead>
            <tbody>
                <!-- Leerer Body -->
            </tbody>
        </table>

     <div class="button-group">
        <button class="func-button">Neues Buch</button>
        <button class="func-button">Buch editieren</button>
        <button class="func-button">Buch löschen</button>
    </div>
</div>