<div class="view-wrapper view-wrapper-books">
<div class="section-label section-label-headline"> </div>
    <table>
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Autor</th>
                </tr>
            </thead>
            <tbody>
                <!-- Leerer Body -->
            </tbody>
        </table>

    <div style="margin: 1rem 0; display: flex; align-items: center; gap: 1rem; width: 70%; margin-left: auto; margin-right: auto;">
        <label for="booklistFilter" style="margin-bottom: 0; white-space: nowrap; color: black;">Buchliste wählen:</label>
        <select id="booklistFilter" style="margin-bottom: 0;"></select>
    </div>

     <div class="button-group">
        <button class="func-button">Neues Buch</button>
        <button class="func-button">Buch editieren</button>
        <button class="func-button">Buch löschen</button>
    </div>
</div>