<div class="view-wrapper view-wrapper-books">
    <div class="section-label section-label-headline"> </div>
    <div class="view-content-container">
        <table>
                <thead>
                    <tr>
                        <th>Titel</th>
                        <th>Autor</th>
                    </tr>
                </thead>
            <tbody>
                <!-- Leerer Body -->
            </tbody>
        </table>

        <div class="list-filter-container">
            <label for="booklistFilter">Buchliste wählen:</label>
            <select id="booklistFilter"></select>
        </div>

        <div class="book-editor-slot"></div>
    </div>

    <div class="button-group">
        <button class="func-button" data-book-action="create">Neues Buch</button>
        <button class="func-button" data-book-action="edit">Buch editieren</button>
        <button class="func-button" data-book-action="delete">Buch löschen</button>
    </div>
</div>
