<div class="view-wrapper">
  <form>
    <h1>Buch bearbeiten</h1>

    <div>
      <label for="bookTitle">Titel:</label>
      <input type="text" id="bookTitle" name="title" required>
    </div>

    <div class="author-selection-container">
      <div class="author-left">
        <div>
          <label for="authorSelect">Autor auswählen:</label>
          <select id="authorSelect"></select>
        </div>
        <button type="button" id="addAuthorBtn" class="func-button">Autor hinzufügen</button>
      </div>
      <div class="author-right">
        <label>Zugewiesene Autoren:</label>
        <div class="scrollable-box">
          <table id="assignedAuthorsTable">
            <thead>
              <tr>
                <th>Vorname</th>
                <th>Nachname</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <button type="button" id="removeAuthorBtn" class="func-button" disabled>Autor entfernen</button>
      </div>
    </div>

    <div id="bookListsContainer">
      <label>Bücherlisten:</label>
      <div class="lists-checkbox-grid">
        <!-- List checkboxes will be rendered here -->
      </div>
    </div>

    <menu>
      <button type="button" value="cancel" class="func-button" data-view="books">Abbrechen</button>
      <button value="confirm" class="func-button" data-view="books">Bestätigen</button>
    </menu>
  </form>
</div>