<div class="view-wrapper view-wrapper-lists">
    <div class="section-label section-label-headline"> </div>
    <div class="view-content-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Standard</th>
                    <th>Bücher</th>
                </tr>
            </thead>
            <tbody>
                <!-- Leerer Body -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="booklist-name-editor-slot"></div>
    </div>
    <div class="button-group">
        <button class="func-button" data-list-action="create">Neue Liste</button>
        <button class="func-button" data-list-action="edit">Liste editieren</button>
        <button class="func-button" data-list-action="delete">Liste löschen</button>
    </div>
</div>
