<div class="view-wrapper view-wrapper-tags">
<div class="section-label section-label-headline"> </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Bücher</th>
            </tr>
        </thead>
        <tbody>
            <!-- Leerer Body -->
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="button-group">
        <button class="func-button">Neues Tag</button>
        <button class="func-button">Tag bearbeiten</button>
        <button class="func-button">Tag löschen</button>
    </div>
</div>