.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
}

main#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
}

header, footer {
    height: 50px;
    background-color: var(--color-light-gray);
    font-size: 0;
}