.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
}

header, footer {
    height: 50px;
    background-color: var(--color-light-gray);
    font-size: 0;
}