.nav-group {
    margin: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column; /* Elemente innerhalb der Gruppe untereinander */
    gap: 10px; /* Optional: Abstand zwischen den Buttons */
}

.nav-button {
    width: calc(100% - 10px);
    margin: 0 5px 8px 5px;
    font-size: 0.9rem; /* Reduce font size by 25% */
    background-color: var(--color-dark-blue);
    color: white;
}

nav.navigation {
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* verhindert space-between Verteilung */
    align-items: stretch;        /* volle Nav-Breite für Kinder */
    gap: 0;
    background-color: var(--color-light-gray);
}

nav.navigation > section.nav-group:last-child {
  margin-top: auto;
}

.section-label {
    display: block; /* Make label a block-level element */
    width: 100%; /* Ensure it spans the full width of the container */
    text-align: center; /* Keep the text centered */
    font-size: 1.2rem; /* Larger font size than buttons */
    font-weight: bold; /* Make the text bold */
    color: white; /* White text color */
    background-color: var(--color-light-gray); /* Hellgrau für die Labels */
    padding: 5px 10px; /* Padding for label */
    border-radius: 0; /* Entfernt die runden Ecken */
    margin-bottom: 10px; /* Space between label and buttons */
}

.section-label-headline {
    /* Specific styles for headline labels if needed */

}