<div class="inline-picker-panel">
    <h4 class="inline-picker-title" data-inline-title></h4>
    <div class="editor-field hidden" data-inline-search-row>
        <label>
            enthält:
            <input type="text" class="editor-input-full" data-inline-search>
        </label>
    </div>
    <div class="editor-field">
        <label>
            <select class="editor-input-full" data-inline-select></select>
        </label>
    </div>
    <div class="inline-picker-actions">
        <button type="button" class="func-button" data-inline-action="confirm"></button>
        <button type="button" class="func-button" data-inline-action="cancel"></button>
    </div>
</div>
