<div class="author-selection-container">
    <div class="author-left">
        <div>
            <label for="authorSelect">Autor auswählen:</label>
            <select id="authorSelect"></select>
        </div>
        <button type="button" id="addAuthorBtn" class="func-button">Autor hinzufügen</button>
    </div>
    <div class="author-right">
        <label>Zugewiesene Autoren:</label>
        <div class="editor-table-scroll">
            <table id="assignedAuthorsTable" class="editor-table">
                <thead>
                    <tr>
                        <th>Vorname</th>
                        <th>Nachname</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <button type="button" id="removeAuthorBtn" class="func-button" disabled>Autor entfernen</button>
    </div>
</div>
