<div class="editor-field">
    <label for="searchImportBookTitle">Titel</label>
    <input type="text" id="searchImportBookTitle" class="editor-input-full" placeholder="Titel eingeben">
</div>
<div class="editor-field">
    <label>Autor(en)</label>
    <div class="search-import-authors" data-search-import-authors></div>
    <button type="button" class="func-button" data-search-import-action="add-author">Autor hinzufügen</button>
</div>
<div class="editor-field">
    <label>Listen</label>
    <div class="search-import-lists" data-search-import-lists></div>
</div>
<div class="search-import-status" data-search-import-status></div>
