<div class="editor-field">
    <label for="searchImportAuthorSelect">Autor auswählen</label>
    <select id="searchImportAuthorSelect" class="editor-input-full"></select>
</div>
<div class="editor-field">
    <label for="searchImportAuthorFirstName">Vorname</label>
    <input type="text" id="searchImportAuthorFirstName" class="editor-input-full" placeholder="Vorname eingeben">
</div>
<div class="editor-field">
    <label for="searchImportAuthorLastName">Nachname</label>
    <input type="text" id="searchImportAuthorLastName" class="editor-input-full" placeholder="Nachname eingeben">
</div>
<div class="search-import-status" data-search-import-status></div>
